
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% notifications.each do |notification| %>
          <tr>
            <td class="p-2"><%= notification.created_at.strftime('%Y/%m/%d') %></td>
            <td class="p-2"><%= notification.title %></td>
            <td class="p-2"><%= notification.content %></td>
          </tr>
        <% end %>
      </table>