<h1><strong>ECA</strong></h1>
<h2> (eat × check × alone)</h2>
<p>
  ECAは記録型、食事管理アプリです<br>
  カレンダー表記で毎日の食事を保存できます。<br>
  又、有料会員登録後は食事傾向を改善するメニューをAIが自動で提案いたします。
</p>




<p>
  ゲストログインでの模擬体験は"こちら"
</p>

<p>
  ユーザー登録は<%= link_to "こちら", new_user_registration_path %>
</p>

<p>
  ログインは<%= link_to "こちら", new_user_session_path %>
</p>
