.intake-breakfast{
  background-color: #FFFFAA;
}

.intake-lunch{
  background-color: #FF9933;
}

.intake-dinner{
  background-color: #0000FF;
  color: white;
}

.intake-snack{
  background-color: #FFBBFF
}