
.simple-calendar {
 .day {}
 .wday-0 {
   color: red;
 }
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {
   color: blue;
 }
 .today {
   background: #98fb98;
 }
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
 .has-events {
   background: #98fb98;
 }
}