<div class="row">
  <div class="col-md-4">

    <div class="link-box">
      ゲストログインでの模擬体験は"こちら"
    </div>

    <div class="link-box">
      ユーザー登録は<%= link_to "こちら", new_user_registration_path %>
    </div>

    <div class="link-box">
      ログインは<%= link_to "こちら", new_user_session_path %>
    </div>


  </div>
</div>
